* {
    font-family: 'Anton', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#E68E36, #DD517F );
}

h1 {
    color: #461e52;
    font-size: 50px;
}

h2 {
    color: white;
    mar
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50vmax;
    height: 50vmax;
    margin: 50px auto;
    text-align: center;

}

.left {
    border-right: 2px solid #7998ee;
}
.right {
    border-left: 2px solid #7998ee;
}
.top{ 
    border-bottom: 2px solid #7998ee;
}
.bottom {
    border-top: 2px solid #7998ee;
}

.tic { 
display: flex;
cursor: pointer;
line-height: 100px;
font-size: 60px;
color: pink;
justify-content: center;
align-items: center;
}

button {
    position: absolute;
    margin-top: 20%;
    color: white;
    background-color: #461e52;
    font-size: 25px;
    border: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(#E68E36, #DD517F);
    width: 500px;
    height: 350px;
    box-shadow: 0 25px 50px #461e52,
    0 0 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
#message, #no-winner {
    margin-bottom: 35%;
}
#close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 30px;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 35px;
}
#reset {
    cursor: pointer;
    width: 50%; 
    height: 20%;
}
.show {
    visibility: visible;
}

#restart-game {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(#E68E36, #DD517F);
    width: 500px;
    height: 350px;
    box-shadow: 0 25px 50px #461e52,
    0 0 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
}
.hidden {
    display: none;
}
